* [Business Variables List](https://api.census.gov/data/2019/abscb/variables.html) <br/><br/>
* [Characteristics of Businesses Documentation (SCROLL DOWN FOR DESCRIPTION TAGS)](https://www2.census.gov/programs-surveys/abs/technical-documentation/api/ABS_API_CB-1-26-2021.pdf)

In [5]:
# CHARACTERISTICS OF BUSINESSES

import pandas as pd
# MAKE SURE THERE ARE NO WHITE SPACES IN ANY VARIABLE STRINGS
labels = 'NAME,GEO_ID,NAICS2017_LABEL,SEX,SEX_LABEL,FIRMPDEMP,QDESC,QDESC_LABEL,BUSCHAR,BUSCHAR_LABEL,YEAR'

#data_group = '&for=us'  # FOR ENTIRE USA
data_group = '&for=state' # FOR STATES


description =f'&{data_group}*&QDESC_LABEL=SPOUSES'
API_key = '&key=1ba63b3df04e1bd07755febe18f836df1b86fc9f'

df = pd.read_json(f'https://api.census.gov/data/2018/abscb?get={labels}{data_group}{description}{API_key}')
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data after the header row
df.columns = new_header #set the header row as the df header
df.head()

,NAME,GEO_ID,NAICS2017_LABEL,SEX,SEX_LABEL,FIRMPDEMP,QDESC,QDESC_LABEL,BUSCHAR,BUSCHAR_LABEL,YEAR,QDESC_LABEL,state
1,Mississippi,0400000US28,Total for all sectors,001,Total,40856,B03,SPOUSES,A1,All firms,2018,SPOUSES,28
2,Mississippi,0400000US28,Total for all sectors,001,Total,1017,B03,SPOUSES,LZ,Jointly owned and equally operated by spouses,2018,SPOUSES,28
3,Mississippi,0400000US28,Total for all sectors,001,Total,787,B03,SPOUSES,MA,Jointly owned but primarily operated by male s...,2018,SPOUSES,28
4,Mississippi,0400000US28,Total for all sectors,001,Total,277,B03,SPOUSES,MB,Jointly owned but primarily operated by female...,2018,SPOUSES,28
5,Mississippi,0400000US28,Total for all sectors,001,Total,13382,B03,SPOUSES,MC,Not jointly owned by spouses,2018,SPOUSES,28