* [Technology Variables List](https://api.census.gov/data/2018/abstcb/variables.html) <br/><br/>
* [Technology Characteristics Documentation](https://www2.census.gov/programs-surveys/abs/technical-documentation/api/ABS_API_TCB-2-9-2021.pdf)

In [7]:
# TECHNOLOGY CHARACTERISTICS OF BUSINESSES

import pandas as pd
# MAKE SURE THERE ARE NO WHITE SPACES IN ANY VARIABLE STRINGS
labels = 'GEO_ID,NAME,NAICS2017,NAICS2017_LABEL,SEX,SEX_LABEL,ETH_GROUP,ETH_GROUP_LABEL,RACE_GROUP,RACE_GROUP_LABEL,VET_GROUP,VET_GROUP_LABEL,NSFSZFI,NSFSZFI_LABEL,FACTORS_P,FACTORS_P_LABEL,YEAR,FIRMPDEMP,FIRMPDEMP_F,FIRMPDEMP_PCT,FIRMPDEMP_PCT_F,RCPPDEMP,RCPPDEMP_F,RCPPDEMP_PCT,RCPPDEMP_PCT_F,EMP,EMP_F,EMP_PCT,EMP_PCT_F,PAYANN,PAYANN_F,PAYANN_PCT,PAYANN_PCT_F,FIRMPDEMP_S,FIRMPDEMP_S_F,FIRMPDEMP_PCT_S,FIRMPDEMP_PCT_S_F,RCPPDEMP_S,RCPPDEMP_S_F,RCPPDEMP_PCT_S,RCPPDEMP_PCT_S_F,EMP_S,EMP_S_F,EMP_PCT_S,EMP_PCT_S_F,PAYANN_S,PAYANN_S_F,PAYANN_PCT_S,PAYANN_PCT_S_F'

data_group = '&for=us'  # FOR ENTIRE USA
#data_group = '&for=state' # FOR STATES

API_key = '&key=1ba63b3df04e1bd07755febe18f836df1b86fc9f'

df = pd.read_json(f'https://api.census.gov/data/2018/abstcb?get={labels}{data_group}{API_key}')
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,GEO_ID,NAME,NAICS2017,NAICS2017_LABEL,SEX,SEX_LABEL,ETH_GROUP,ETH_GROUP_LABEL,RACE_GROUP,RACE_GROUP_LABEL,...,RCPPDEMP_PCT_S_F,EMP_S,EMP_S_F,EMP_PCT_S,EMP_PCT_S_F,PAYANN_S,PAYANN_S_F,PAYANN_PCT_S,PAYANN_PCT_S_F,us
1,0100000US,United States,00,Total for all sectors,001,Total,001,Total,00,Total,...,None,4.8,None,1.3,None,3.9,None,2.9,None,1
2,0100000US,United States,00,Total for all sectors,001,Total,001,Total,00,Total,...,None,0.7,None,8.4,None,0.8,None,13.4,None,1
3,0100000US,United States,00,Total for all sectors,001,Total,001,Total,00,Total,...,None,0.9,None,2.8,None,0.8,None,4.3,None,1
4,0100000US,United States,00,Total for all sectors,001,Total,001,Total,00,Total,...,None,0.5,None,0.0,None,0.4,None,0.0,None,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5496,0100000US,United States,99,Industries not classified,001,Total,001,Total,00,Total,...,S,0.0,S,0.0,S,0.0,S,0.0,S,1
5497,0100000US,United States,99,Industries not classified,001,Total,001,Total,00,Total,...,S,27.5,None,0.2,None,33.1,None,0.6,None,1
5498,0100000US,United States,99,Industries not classified,001,Total,001,Total,00,Total,...,S,12.7,None,4.2,None,10.1,None,2.9,None,1
5499,0100000US,United States,99,Industries not classified,001,Total,001,Total,00,Total,...,S,30.5,None,13.5,None,11.2,None,3.0,None,1
5500,0100000US,United States,99,Industries not classified,001,Total,001,Total,00,Total,...,S,24.9,None,0.0,None,6.8,None,0.0,None,1